<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons>
        <ion-back-button defaultHref="/planalimentacion" text="Regresar" color="secondary" mode="ios"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>planalimentacionpost</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 

  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content>
          <ion-label type="text" #id_plan_alimentacion></ion-label>
          <ion-input type="text" placeholder="Ingrese los tipos de comidas de la semana" #tipos_de_comidas_semana></ion-input>
          <ion-input type="text" placeholder="Ingrese la cantidad de comidas de la semana" #cantidad_de_comidas_semana></ion-input>
          
          
          <ion-button color="primary" (click)="agregarNuevoPlanAlimentacion(id_plan_alimentacion, tipos_de_comidas_semana, cantidad_de_comidas_semana)">Guardar</ion-button>

        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-toolbar>

  </ion-toolbar>

</ion-content>
